form {
    width: 700px;
    padding: 30px;
    position: absolute;
    top: 15%;
    left: 10%; 
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button {
    top: 40px;
}